@tailwind base;
@tailwind components;
@tailwind utilities;

.discover {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

@screen xl {
    .corner-svg {
        width: 65vw;
        height: 40vw;
        max-width: 1664px;
    }
}